<% provide(:title, "About") %>
<h1>About</h1>

<p>
  The sample Twitter-like micropost application at this site has been put 
  together by Steve Swett by  following Michael Hartl's Ruby on Rails tutorial 
  -- a book over 750 pages in PDF  format.  The design and code are Mr. Hartl's.
</p>

<p>
  So, what can you do with the app? 
  <ul>
    <li>
      Create your own user account by signing up from the Home page
    </li>
    <li>
      After receiving an account activation e-mail, activate your account
    </li>
    <li>
      While logged in, create microposts (brief text entries with optional 
      image uploads) from the Home page
    </li>
    <li>
      Visit the Users page to follow the microposts of other users
    </li>
  </ul>
</p>

<p>
  Try it!
</p>

<p>
  Technologies: AWS S3 for cloud-based image storage, Mandrill for e-mail, 
  Cloud 9 IDE for development, Git for version control, Bitbucket for remote 
  repositories, Heroku for production deployment
</p>

<p>
  The source code to this project can be found <a href="https://bitbucket.org/sswett/sample_app">here</a>.
</p>

<p>
  &nbsp;
</p>

<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>
