<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<%-# Comment out (with "if false") the following way, which isn't as compact as possible -%>

<% if false %>
<ul class="users">
  <% @users.each do |user| %>
  
    # Here render is called with an instance of the User class, so it
    # automatically looks for a partial named _user.html.erb
    <%= render user %>
    
    
  <% end %>
</ul>
<% end %>

<%-# The compact way: -%>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>